.page-container{
	display: flex;
	flex-direction: row-reverse;
	margin-top: 50px;
}

.form-container{
	margin-right: 40px;
	padding-right: 40px;
	padding-left: 60px;
}

.editor-container{
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: 0 auto;
}

.editor{
	max-height: 1048px;
  overflow: auto;
  border: 1px solid grey;
  padding: 37px;
  width: 810px;
  height: 1048px;
}

.uploadButton-container{
	display: flex;
  flex-direction: row;
	justify-content: center;
	margin-bottom: 5px;
}

.instyleButtons-container{
	display: flex;
  justify-content: center;
  flex-direction: row;
}

.instyleButton{
	outline: none;
	background-color: white;
	border: 1px solid grey;
}

.instyleButton:hover{
	cursor: pointer;
}

