#document-page {
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
}

/*-------ReviewerListContainer--------*/
.reviewer-list-ul {
  width: 150px;
}

.reviewer {
  font-size: 1.1em;
  color: #333;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 0;
}
/*-------/ReviewerListContainer--------*/



/*-------CommentListContainer--------*/
.comment-list-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.comment-box {
  background-color: white;
  border: 1px solid #d9d8d8;
  border-radius: 4px;
}

.user-resolve-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  background-color: #FFA593;
}

.user-resolve-div p {
  margin: 0;
  color: white;
}

.user-resolve-div button {
  padding: 5px 5px;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  background-color: #4ED99C;
  border: none;
}

.user-resolve-div button:hover {
  background-color: #3ba476;
}

.comment-text {
  padding: 5px 5px;
  word-wrap: break-word;
}
/*-------/CommentListContainer--------*/



/*-------ReviewerListContainer & CommentListContainer--------*/
.comment-list-ul, .reviewer-list-ul {
  padding: 0px;
}

.comment-list-ul li, .reviewer-list-ul li {
  list-style: none;
  font-size: 14px;
  width: 175px;
}
/*-------/ReviewerListContainer & CommentListContainer--------*/
