body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*-------Navbar--------*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  list-style: none;
}

/*-------/Navbar--------*/



/*-------Landing page--------*/

.landing-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F55D4B;
  height: 100vh;
}

.landing-header {
  font-family: 'Amatic SC', cursive;
  font-size: 10rem;
  margin: 0;
  color: white;
}

.landing-motto {
  color: white;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  width: 500px;
  border-radius: 3px;
}

.sign-in h1 {
}

.please-login {
  font-weight: 300;
  font-size: .9em;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.sign-in-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
}

.sign-in-bottom .sign-in-button {
  height: inherit;
  width: 100px;
  background-color: #4ED99C;
  color: white;
  border: none;
  font-size: 1.2em;
}

.sign-in span {
  color: #F55D4B;
}

/*-------Landing page--------*/



/*-------Signup page--------*/
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.sign-up-header {
  font-weight: 300;
  font-size: 2.5em;
  color: #F55D4B;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 400px;
  margin-top: 30px;
}

.sign-up-input {
  border: none;
  border-bottom: 3px solid #6D7982;
  background-color: #fafafa;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 1.75em;
  font-weight: 300;
  color: #6D7982;
  transition-duration: .5s;
}

.sign-up-input:focus {
  border-bottom: 3px solid #4ED99C;
  outline: none;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-question {
  font-size: 1.2em;
  color: #505a61;
}

.sign-up .sign-up-button {
  align-self: flex-end;
  margin-top: 20px;
  padding: 12px 0 15px 0;
  width: 125px;
  font-size: 1.75em;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #4ED99C;
  cursor: pointer;
}
.sign-up .sign-up-button:focus {
  outline: none;
}
/*-------/Signup page--------*/



/*-------Browse page--------*/
.documents-list-div {
  display: flex;
  justify-content: space-around;
}

.individual-work {
  height: 375px;
  width: 250px;
  background-color: #fafafa;
  cursor: pointer;
}

/*-------/Browse page--------*/



/*-------Category component--------*/

.categories ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  background-color: #efefef;
  padding-left: 0;
  margin: 0;
}

.categories ul li {
  list-style: none;
}

.dropbutton {
    color: black;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .category-div {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content .category-div:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbutton {
    background-color: white;
}
/*-------/Category component--------*/
