body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*-------Navbar--------*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F55D4B;
  color: white;
}

.brand {
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  padding-bottom: 8px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0;
  margin-right: 100px;
}

nav ul li {
  list-style: none;
  font-size: 1.2em;
}

/*-------/Navbar--------*/



/*-------Landing page--------*/

.landing-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F55D4B;
  height: 100vh;
}

.landing-page img {
  width: 700px;
}

.title-div {
  height: inherit;
  padding-top: 50px;
}

.landing-header {
  font-family: 'Amatic SC', cursive;
  font-size: 10rem;
  margin: 0;
  color: white;
}

.landing-motto {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255,255,255, 0.7);
  width: 500px;
  border-radius: 3px;
}

.sign-in h1 {
  align-self: center;
}

.please-login {
  font-weight: 300;
  font-size: .9em;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  margin-top: 20px;
}

.sign-in-input {
  width: 400px;
  align-self: center;
  border: none;
  border-bottom: 3px solid #6D7982;
  background-color: #FCCFC9;
  padding: 5px 0 7px 10px;
  margin-bottom: 30px;
  font-size: 1.75em;
  font-weight: 300;
  color: #6D7982;
  transition-duration: .5s;
}
.sign-in-input:focus {
  border-bottom: 3px solid #4ED99C;
  outline: none;
}

.sign-in-input::-webkit-input-placeholder {
  color: rgba(#777b80, 0.93);
}

.sign-in-bottom {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  background-color: #efefef;
  border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.sign-in-bottom p {
  padding-left: 20px;
  font-size: 1.3em;
  font-weight: 300;
}

.sign-in-bottom span {
  font-weight: 600;
}

.sign-in-bottom .sign-in-button {
  height: inherit;
  width: 100px;
  background-color: #4ED99C;
  color: white;
  border: none;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom-right-radius: 3px;
}

.sign-in-bottom .sign-in-button:focus {
  outline: none;
}

/*-------Landing page--------*/



/*-------Signup page--------*/
.main-sign-up-div .sign-up-link {
  margin: 0;
  color: #F55D4B;
  font-size: 1.7em;
  font-weight: 400;
  padding-left: 10px;
  cursor: pointer;
}

.main-sign-up-div .sign-up-link:hover {
  color: #f58d81;
}

.sign-up-modal {
  /*transition-delay: 2s;
  transition-duration: 2s;*/
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(250, 250, 250, .8);
}

.second-sign-up-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up i {
  align-self: flex-end;
  font-size: 1.7em;
  color: #e53232;
}

.sign-up-header {
  font-weight: 300;
  font-size: 2.5em;
  color: #F55D4B;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 400px;
  margin-top: 30px;
}

.sign-up-input {
  border: none;
  border-bottom: 3px solid #6D7982;
  background-color: #FAF3F2;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 1.75em;
  font-weight: 300;
  color: #6D7982;
  transition-duration: .5s;
}

.sign-up-input:focus {
  border-bottom: 3px solid #4ED99C;
  outline: none;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-question {
  font-size: 1.2em;
  color: #505a61;
}

.sign-up-div {
  display: flex;
  align-items: center;
}

.sign-up .sign-up-button {
  align-self: flex-end;
  margin-top: 20px;
  padding: 12px 0 15px 0;
  width: 125px;
  font-size: 1.75em;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #4ED99C;
  cursor: pointer;
}

.sign-up .sign-up-button:focus {
  outline: none;
}
/*-------/Signup page--------*/



/*-------Browse page--------*/
.browse-container {
  background-color: #F6F6F6;
  height: 100vh;
}

.documents-list-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.individual-work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 275px;
  background-color: white;
  cursor: pointer;
  padding: 15px 15px 0 15px;
  box-shadow: 0 1px 4px rgba(1,1,1,.15);
}

.individual-work:hover {
  box-shadow: 0 1px 5px rgba(1,1,1,.3)
}

.individual-work h2 {
  margin-top: 0;
  line-height: 1.1;
  color: #333333;
}

.individual-work-header-div {
  height: 100px;
  border-bottom: 1px solid #efefef;
}

.cat-user {
  display: flex;
  align-items: center;
  color: #b2b2b2;
  font-size: 1.1em;
}

.cat-user span{
  margin: 0 5px 0 5px;
}

.individual-work-name {
  font-weight: 300;
}

.snippet {
  height: 175px;
  margin: 0;
  color: #747474;
  font-family: serif;
  font-size: 1.1em;
}

.dead-rev {
  display: flex;
  border-top: 1px solid #efefef;
}

.dead-rev p {
  margin: 0;
}


.rev {
  border-left: 1px solid #efefef;
}

/*-------/Browse page--------*/



/*-------Category component--------*/

.categories {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  margin: 0 0 50px 0;
}

.categories ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 1200px;
  background-color: #efefef;
  padding-left: 0;
  margin: 0;
}

.categories ul li {
  list-style: none;
  width: 140px;
}

.dropbutton {
    color: black;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .level-div {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content .level-div:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.indiv-category:hover {
  color: #747474;
}
/*-------/Category component--------*/

/*-------create doc modal--------*/

/*-------/create doc modal--------*/
