body, html {
  margin: 0;
  padding: 0;
}

/*-------Navbar--------*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  list-style: none;
}

/*-------/Navbar--------*/



/*-------Landing page--------*/

.landing-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  height: 100vh;
}



.sign-in {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  height: 300px;
  width: 400px;
  padding: 0 20px 0 20px;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.sign-in span {
  color: firebrick;
}

/*-------Landing page--------*/



/*-------Signup page--------*/
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 600px;
  background-color: #efefef;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*-------/Signup page--------*/



/*-------Browse page--------*/
.documents-list-div {
  display: flex;
  justify-content: space-around;
}

.individual-work {
  height: 375px;
  width: 250px;
  background-color: #fafafa;
}

/*-------/Browse page--------*/



/*-------Category component--------*/

.categories ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  background-color: #efefef;
  padding-left: 0;
  margin: 0;
}

.categories ul li {
  list-style: none;
}

.dropbutton {
    color: black;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbutton {
    background-color: white;
}
/*-------/Category component--------*/
