body, html {
  margin: 0;
  padding: 0;
}

.landing-page {
  background-color: red;
  height: 100vh;
}

.sign-in {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  height: 300px;
  width: 400px;
  padding: 0 20px 0 20px;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*background-color: blue;*/
  height: 150px;
}
