* {
 box-sizing: border-box;
}

#content {
 margin: 0 auto;
 height: 1048px;
}


.editor .public-DraftEditor-content {
  max-height: 1048px;
  overflow: auto;
  border: 1px solid grey;
  padding: 37px;
  width: 810px;
  height: 1048px;
}
