* {
  box-sizing: border-box;
}

#editor-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 93.5vh;
  overflow-y: scroll;
  padding-bottom: 20px;
}

#editor-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.editor-view .public-DraftEditor-content {
  min-height: 1048px;
  border: 1px solid grey;
  padding: 37px;
  width: 810px;
  background-color: white;
  border: none;
}

.editor-view {
  box-shadow: 10px 10px 5px #cecece;
}
